h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}
:root {
    --accent-color: #2196F3;
    --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
button {
    cursor: pointer;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
img {
    display: block;
}
body {
    font-family: 'Roboto', sans-seri;
}
/*--header--*/

.top-header {
    border-bottom: 1px solid#ECECEC;
}
.top-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-nav {
    display: flex;
    align-items: center;
}
.logo {
    font-family: 'Raleway', sans-seri;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000;
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
}
.blu {
    color: #2196F3;
}
.menu {
    display: flex;
    align-items: center;
    column-gap: 50px;
}
.menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: #212121;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    transition: color var(--transition-dur-and-func);
}


.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}
.menu-link-studio {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    
}
.menu-link-studio::after {
    content:'';
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: opacity var(--transition-dur-and-func);
}

.menu-link-portfolio {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
}
.menu-link-portfolio::after {
    content:'';
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: opacity var(--transition-dur-and-func);
}

.contack-header {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    fill: #757575;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--transition-dur-and-func), fill var(--transition-dur-and-func);
}
.contack-header:hover,
.contack-header:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
}
.icon-mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    padding-bottom: 0;
}
.icon-tel {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    padding-bottom: 0;
}

.page-contact-header {
    display: flex;
    align-items: center;
    column-gap: 50px;
}
/*---main----*/

/*---sections---*/

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.images {
    max-width: 100%;
    height: auto;
}
/*---section post---*/

.section-post {
    background-color: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
}
.img-overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.post {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 696px;
    margin: 0 auto 30px;
}
.modal-open-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #fff;
    background: #2196F3;
    padding: 10px 32px 10px 32px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    transition: box-shadow var(--transition-dur-and-func);
}
.modal-open-btn:hover,
.modal-open-btn:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*---section features---*/

.section-features {
    padding-top: 94px;
    padding-bottom: 94px;
}
.paragraph-features {
    flex-basis: calc((100% - 90px) / 4);
}
.paragraph-features::before {
    display: block;
    height: 120px;
    width: 270px;
    background-color: #F5F4FA;
    content: "" ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
    margin-bottom: 30px;
    border-radius: 4px;
}
.icon-antenna::before {
    background-image: url(../images/SVG-спрайт/antenna\ 1.svg);
}

.icon-clock::before {
    background-image: url(../images/SVG-спрайт/clock\ 1.svg);
}
.scon-diagram::before {
    background-image: url(../images/SVG-спрайт/diagram\ 1.svg);
}
.icon-astronaut::before {
    background-image: url(../images/SVG-спрайт/astronaut\ 1.svg);
}
.page-features {
    display: flex;
    column-gap: 30px;
    padding-top: 0;
}
.paragraph-section {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;
}
.content-section {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

/*---section foto---*/

.foto {
    flex-basis: calc((100% - 60px) / 3);
    padding-bottom: 94px;
    position: relative;
}
.page-foto {
    display: flex;
    align-items: center;
    column-gap: 30px;
}
.box {
    position: absolute;
    top: 224px;
}
.box-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: rgba(47, 48, 58, 0.8);
}

/*---section team---*/
.section-our-team {
    background: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}
.team {
    flex-basis: calc((100% - 90px) / 4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background:#fff;
}
.page-team {
    display: flex;
    align-items: center;
    column-gap: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.name-employee {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding-top: 30px;
    margin-bottom: 10px;
}
.job-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 16px;
}
.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    gap: 10px;
}
.links-list {
    display: inline-block;
}
.links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: #AFB1B8;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-svg {
    width: 20px;
    height: 20px;
}
.links:hover,
.links:focus {
    background-color: var(--accent-color);
    fill: white;
} 

/*----customers---*/

.regular-customers {
    padding-top: 94px;
    padding-bottom: 94px;
}
.customers {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.client-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    fill: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border-color var(--transition-dur-and-func), fill var(--transition-dur-and-func);
}
.client-links:hover,
.client-links:focus {
    border-color:  var(--accent-color);
    fill: var(--accent-color);
}
.client-logo {
    width: 106px;
    height: 60px;
}

/*---footer---*/

.page-footer {
    display: flex;
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}
.container-footer {
    display: flex;
    align-items: flex-start;
}
.footer-list {
    margin-right: 70px;
}
.logo-footer {
    font-family: 'Raleway', sans-seri;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #fff;
    margin-bottom: 20px;
    display: inline-block;
}
.address {
    margin-bottom: 9px;
}
.contact-address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    transition: color var(--transition-dur-and-func);
}
.contact-address:hover,
.contact-address:focus {
    color: var(--accent-color);
}
.contact-footer {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--transition-dur-and-func);
}
.contact-footer:hover,
.contact-footer:focus {
    color: var(--accent-color);
}
.footer-social-links {
    flex-direction: column;
    width: 206px;
    height: 80px;
    margin-right: 93px;
}
.social-links-footer {
    display: flex;
    gap: 10px;
    justify-content:space-between;
    align-items: center;
}

.footer-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.links-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color var(--transition-dur-and-func);
}
.links-footer:hover,
.links-footer:focus {
    background-color: var(--accent-color);
} 
.link-svg-footer {
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
}

/*---footer form input---*/

.form-mail {
    display: flex;
    align-content: center;
    justify-content: space-between;
    gap: 12px;
   
}
.mail-input {
    width: 570px;
    height: 86px;
    
}
.footer-mail {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding: 15px 16px 15px 16px;
}
.footer-mail:focus {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.footer-mail-form-input {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    background: #2F303A;
    border: 0;
    padding: 0;
}
.footer-mail-form-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}
.modal-open-btn-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2196F3;
    width: 200px;
    height: 50px;
    padding: 10px 28px 10px 28px;
    border-radius: 4px;
    border: 0;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-send {
    padding: 13px 13px 13px;
    background-size: 24px;
}
.text-icon-send {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #fff;
}


/*---page portfolio---*/

.section-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}
.page-portfolio-btn {
    display: flex;
    align-items: center;
    column-gap: 9px;
    justify-content: center;
    margin-bottom: 50px;
}
.portfolio-open-btn-all {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding: 6px 25px 6px 25px;
    border-radius: 4px;
    border-color: transparent;
}
.portfolio-open-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding: 6px 22px 6px 22px;
    background: #F5F4FA;
    border-radius: 4px;
    border-color: transparent;
}
.btn {
    transition: color var(--transition-dur-and-func), background var(--transition-dur-and-func), box-shadow var(--transition-dur-and-func);
}
.btn:hover,
.btn:focus {
    color: #FFFFFF;
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.page-project {
    display: flex;
    flex-wrap: wrap;
}
.frame {
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    padding-left: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 24px;
}
.project:not(:nth-child(3n)) {
    margin-right: 30px;
}
.project:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
}
.project {
    flex-basis: calc((100% - 60px) / 3);
    
}
.menu-project {
    display: block;
    transition: box-shadow var(--transition-dur-and-func);
}

.menu-project:hover,
.menu-project:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.discription {
    position: relative;
    overflow: hidden;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding: 63px 24px 63px 24px;
    overflow: auto;
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-project:hover .overlay,
.menu-project:focus .overlay {
    transform: translateY(0%);
}

.name-group {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    margin-bottom: 4px;
}
.title-group {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}
/*---backdrop---*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 100;
    transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
}
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
/*---modal---*/
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background: #FFFFFF;
    border-radius: 4px;
    padding: 40px;
}
.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
    fill: var(--accent-color);
}

/*---modal form---*/

.contact-form {
    display: flex;
    flex-direction: column;
}

.text-form {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin: 12px;
}
.modal-form-field {
    margin-bottom: 10px;
}
.modal-form-field-desc {
    display: block;
    font-size: 12px;
    color: #757575;
    margin-bottom: 4px;
}
.contact-form-input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--accent-color);
    cursor: pointer;
}

.contact-form-input:focus {
    outline: none;
    border-color: var(--accent-color);
}

.modal-form-input-wrapper {
    display: block;
    position: relative;

}
.modal-form-input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    left: 12px;
    border-radius: 4px;
    transition: background-color var(--transition-dur-and-func);
}

.contact-form-input:focus + .modal-form-input-icon {
    fill: var(--accent-color);
}
.contact-form-input:focus .modal-form-input-icon {
    background-color: var(--accent-color);
    
}
.icon-form {
    width: 18px;
    height: 18px;
}
.contact-form-message {
    height: 120px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px; 
    padding: 12px 16px 12px 16px;
    transition: border-color var(--transition-dur-and-func);
    resize: none;
}

.contact-form-message::placeholder {
    font-size: 12px;
    color: rgba(117, 117, 117, 0.5);
}
.contact-form-message:focus {
    outline: none;
    border-color: var(--accent-color);
}

/*---modal check---*/

.modal-form-check {
    position: absolute;
    appearance: none;
}
.modal-form-check-field {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.modal-form-own-checkbox {
    width: 16px;
    height: 15px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.9);
    margin-right: 8.38px;
}
.modal-form-own-checkbox-icon {
    display: none;
    color: #fff;
}
.modal-form-check:checked + .modal-form-own-checkbox {
    background-color: var(--accent-color);

}
.modal-form-check:checked + .modal-form-own-checkbox .modal-form-own-checkbox-icon {
    display: block;
}
  
.modal-form-check:focus + .modal-form-own-checkbox {
    box-shadow: 0 0 0 2px rgba(0, 0, 255, 0.5);
}

.contact-form-submit {
    align-self: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
    padding: 10px 52px 10px 52px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: box-shadow var(--transition-dur-and-func);
}
.contact-form-submit:hover,
.contact-form-submit:focus {
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
    
  