h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}
ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
button {
    cursor: pointer;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
img {
    display: block;
}
body {
    font-family: 'Roboto', sans-seri;
}
/*--header--*/


.top-header {
    border-bottom: 1px solid#ECECEC;
}

.top-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-nav {
    display: flex;
    align-items: center;
}
  
.logo {
    font-family: 'Raleway', sans-seri;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000;
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
}
.blu {
    color: #2196F3;
}
.menu {
    display: flex;
    align-items: center;
    column-gap: 50px;
}
.menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: #212121;
    padding-top: 32px;
    padding-bottom: 32px;
}

.menu-link:hover,
.menu-link:focus {
    color: #2196F3;
}
.menu-link-studio {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;
    padding-top: 32px;
    padding-bottom: 32px;
}
.menu-link-portfolio {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;
    padding-top: 32px;
    padding-bottom: 32px;
}
.contack-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    padding-top: 32px;
    padding-bottom: 32px;

}
.contack-header:hover,
.contack-header:focus {
    color: #2196F3;
}
.page-contact-header {
    display: flex;
    align-items: center;
    column-gap: 50px;
}
/*---main----*/

/*---sections---*/

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.images {
    max-width: 100%;
    height: auto;
}
/*---section post---*/

.section-post {
    background: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
}
.post {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 696px;
    margin: 0 auto 30px;
}
.modal-open-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #fff;
    background: #2196F3;
    padding: 10px 32px 10px 32px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}
.modal-open-btn:hover,
.modal-open-btn:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*---section features---*/

.section-features {
    padding-top: 94px;
    padding-bottom: 94px;
}
.paragraph-features {
    flex-basis: calc((100% - 90px) / 4);
}
.page-features {
    display: flex;
    column-gap: 30px;
    padding-top: 0;
}
.paragraph-section {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;
}
.content-section {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

/*---section foto---*/

.foto {
    flex-basis: calc((100% - 60px) / 3);
    padding-bottom: 94px;
}
.page-foto {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

/*---section team---*/
.section-our-team {
    background: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}
.team {
    flex-basis: calc((100% - 90px) / 4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background:#fff;
}
.page-team {
    display: flex;
    align-items: center;
    column-gap: 30px;
}
.name-employee {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding-top: 30px;
    margin-bottom: 10px;
}
.job-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    padding-bottom: 30px;
}
/*---footer---*/

.page-footer {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo-footer {
    font-family: 'Raleway', sans-seri;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #fff;
    margin-bottom: 20px;
    display: inline-block
}
.address {
    margin-bottom: 9px;
}
.contact-address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.contact-address:hover,
.contact-address:focus {
    color: #2196F3;
}
.contact-footer {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.contact-footer:hover,
.contact-footer:focus {
    color: #2196F3
}
/*---page portfolio---*/

.section-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}
.page-portfolio-btn {
    display: flex;
    align-items: center;
    column-gap: 9px;
    justify-content: center;
    margin-bottom: 50px;
}
.portfolio-open-btn-all {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding: 6px 25px 6px 25px;
    border-radius: 4px;
    border-color: transparent;
    box-shadow: 0px3px1pxrgba(0, 0, 0, 0.1), 0px1px2pxrgba(0, 0, 0, 0.08), 0px2px2pxrgba(0, 0, 0, 0.12);
}
.portfolio-open-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding: 6px 22px 6px 22px;
    background: #F5F4FA;
    border-radius: 4px;
    border-color: transparent;
}
.btn:hover,
.btn:focus {
    color: #FFFFFF;
    background: #2196F3;
}
.page-project {
    display: flex;
    flex-wrap: wrap;
}
.frame {
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    padding-left: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 24px;
}
.project:not(:nth-child(3n)) {
    margin-right: 30px;
}
.project:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
}
.project {
    flex-basis: calc((100% - 60px) / 3);
}
.name-group {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    margin-bottom: 4px;
}
.title-group {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}