// 0px - 767px
@media screen and (max-width:767px) {
    .page-footer {
        display: flex;
        background: #2F303A;
        padding-top: 60px;
        padding-bottom: 60px;
        
    }

    .container-footer {
        display: block;
        align-items: center;
        text-align: center;
    }

    .footer-social-links {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .social-links-footer {
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .footer-link {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 20px;
    }

    .links-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.1);
        transition: background-color var(--transition-dur-and-func);

        &:hover,
        &:focus {
            background-color: var(--accent-color);
        }
    }

    .link-svg-footer {
        width: 20px;
        height: 20px;
        fill: #FFFFFF;
    }
}
// 768px -
@media screen and (min-width: 768px) {
    .page-footer {
        display: flex;
        background: #2F303A;
        padding-top: 60px;
        padding-bottom: 60px;
       
    }

    .container-footer {
        display: flex;
        flex-wrap: wrap;
        
        margin-left: 0;
        margin-right: 0;
        width: 738px;
    }
    .footer-list {
        margin-left: 76px;
        margin-right: 165px;
        margin-bottom: 60px;
        text-align: center;
    }

    .footer-social-links {
        margin-right: 80px;
        text-align: center;
    }

    .social-links-footer {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
    }

    .footer-link {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 20px;
    }

    .links-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.1);
        transition: background-color var(--transition-dur-and-func);

        &:hover,
        &:focus {
            background-color: var(--accent-color);
        }
    }

    .link-svg-footer {
        width: 20px;
        height: 20px;
        fill: #FFFFFF;
    }
}
// 1200px -
@media screen and (min-width: 1200px) {
    .page-footer {
        display: flex;
        background: #2F303A;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .container-footer {
        display: flex;
        width: 1200px;
    }

    .footer-list {
        margin-right: 70px;
        margin-left: 0;
    }

    .footer-social-links {
        margin-right: 93px;
    }

    .social-links-footer {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
    }

    .footer-link {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 20px;
    }

    .links-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.1);
        transition: background-color var(--transition-dur-and-func);

        &:hover,
        &:focus {
            background-color: var(--accent-color);
        }
    }

    .link-svg-footer {
        width: 20px;
        height: 20px;
        fill: #FFFFFF;
    }
}
