.menu {
    display: none;
}
.top-header__modal-btn {
    display: none;
}
.contact-page {
    display: none;
}
.modal-open-mobile-btn {
    line-height: 0;
    border: none;
    background-color: transparent;
    padding: 0;
    fill: black;
}


//    .top-header {
        border-bottom: 1px solid#ECECEC;
//    }
//   .top-line {
        display: flex;
        align-items: center;
        justify-content: space-between;
//    }
//    .top-nav {
        display: flex;
        align-items: center;
//    }



