// 0px - 767px
@media screen and (max-width:767px) {
    .menu {
        display: none;
    }

    .top-header__contact-page {
        display: none;
    }
        
    .modal-open-mobile-btn {
        line-height: 0;
        border: none;
        padding: 0;
        background-color: transparent;
    }
    
    .modal-open-mobile-btn__icon {
        width: 40px;
        height: 40px;
    }
}



.top-line__container {
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.top-header {
    padding-top: 10px;
    padding-bottom: 10px;
}



//    .top-header {
//        border-bottom: 1px solid#ECECEC;
//    }
//  .top-line__container {
//        display: flex;
//        align-items: center;
//        justify-content: space-between;
//    }
//    .top-nav {
//        display: flex;
//        align-items: center;
//    }



