.menu {
    display: flex;
    align-items: center;
    column-gap: 50px;
}
.menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: #212121;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    transition: color var(--transition-dur-and-func);
    
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}
.menu-link-studio {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    
    &::after {
        content:'';
        display: block;
        width: 100%;
        height: 4px;
        background-color: #2196F3;
        border-radius: 2px;
        position: absolute;
        left: 0;
        bottom: 0;
        transition: opacity var(--transition-dur-and-func);
    }
}
.menu-link-portfolio {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    
    &::after {
        content:'';
        display: block;
        width: 100%;
        height: 4px;
        background-color: #2196F3;
        border-radius: 2px;
        position: absolute;
        left: 0;
        bottom: 0;
        transition: opacity var(--transition-dur-and-func);
    }
}
