.logo-footer {
    font-family: 'Raleway', sans-seri;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #fff;
    margin-bottom: 20px;
    display: inline-block;
}