.contact-form {
    display: flex;
    flex-direction: column;
}
.text-form {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
}
.modal-form-field {
    margin-bottom: 10px;
}
.modal-form-field-coment {
    margin-bottom: 20px;
}
.modal-form-field-desc {
    display: block;
    font-size: 12px;
    color: #757575;
    margin-bottom: 4px;
}
.contact-form-input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--transition-dur-and-func);
    cursor: pointer;

    &:focus {
        outline: none;
        border-color: var(--accent-color);
    }
}
.modal-form-input-wrapper {
    display: block;
    position: relative;
}
.modal-form-input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    left: 12px;
    border-radius: 4px;
    transition: background-color var(--transition-dur-and-func) fill var(--transition-dur-and-func);

    .contact-form-input:focus + & {
        fill: var(--accent-color);
    }

    .contact-form-input:focus & {
        background-color: var(--accent-color);
    }
}

.icon-form {
    width: 18px;
    height: 18px;
}
.contact-form-message {
    display: block;
    height: 120px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px; 
    padding: 12px 16px 12px 16px;
    transition: border-color var(--transition-dur-and-func);
    resize: none;

    &::placeholder {
        font-size: 12px;
        color: rgba(117, 117, 117, 0.5);
    }

    &:focus {
        outline: none;
        border-color: var(--accent-color);
    }
}
.modal-form-check {
    position: absolute;
    appearance: none;
    font-weight: 400;
}
.modal-form-check-field {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}
.contract {
    color: var(--accent-color);
}
.modal-form-own-checkbox {
    width: 16px;
    height: 15px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.9);
    margin-right: 8.38px;
    font-weight: 400;

    .modal-form-check:checked + & {
        background-color: var(--accent-color);
    }

    .modal-form-check:focus + & {
        box-shadow: 0 0 0 2px rgba(0, 0, 255, 0.5);
    }
}
.modal-form-own-checkbox-icon {
    display: none;
    color: #fff;

    .modal-form-check:checked + .modal-form-own-checkbox & {
        display: block;
    }
}
.contact-form-submit {
    align-self: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
    padding: 10px 52px 10px 52px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    transition: box-shadow var(--transition-dur-and-func), background-color var(--transition-dur-and-func);

    &:hover,
    &:focus {
        background-color: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}
